<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="Digital marketing agency, Digital marketing company, Digital marketing services">
    <meta name="author" content="creativegigs">
    <meta name="description" content="Foxy Studio - Software development agency with excellence services.">
    <meta name='og:image' content='~/Content/images/home/ogg.png'>
    <!-- For IE -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- For Resposive Device -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- For Window Tab Color -->
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#233D63">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#233D63">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#233D63">
    <title>Foxy Studio - Software development agency with excellence services.</title>
    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="56x56" href="~/Content/images/fav-icon/icon.png">
    <!-- Main style sheet -->
    @Styles.Render("~/c")

    <!-- Fix Internet Explorer ______________________________________-->
    <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <script src="vendor/html5shiv.js"></script>
        <script src="vendor/respond.js"></script>
    <![endif]-->
</head>
@RenderBody()
<body>
    <div class="main-page-wrapper">

        <!-- ===================================================
        Loading Transition
    ==================================================== -->
        <!-- Preloader -->
        <section>
            <div id="preloader">
                <div id="ctn-preloader" class="ctn-preloader">
                    <div class="animation-preloader">
                        <div class="spinner"></div>
                        <div class="txt-loading">
                            <span data-text-preloader="R" class="letters-loading">
                                R
                            </span>
                            <span data-text-preloader="O" class="letters-loading">
                                O
                            </span>
                            <span data-text-preloader="G" class="letters-loading">
                                G
                            </span>
                            <span data-text-preloader="A" class="letters-loading">
                                A
                            </span>
                            <span data-text-preloader="N" class="letters-loading">
                                N
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!--
    =============================================
        Theme Main Menu
    ==============================================
    -->
        <div class="theme-main-menu theme-menu-one">
            <div class="logo"><a href=""><img src="~/Content/images/logo/logo.png" alt=""></a></div>
            <nav id="mega-menu-holder" class="navbar navbar-expand-lg">
                <div class="container position-relative nav-container">
                    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="flaticon-setup"></i>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav">
                            <li class="nav-item active position-relative">
                                <a href="" class="nav-link">Home.</a>
                            </li>
                            <li class="nav-item position-relative">
                                <a href="" class="nav-link">Team.</a>
                            </li>
                            <li class="nav-item position-relative">
                                <a href="" class="nav-link">Portfolio.</a>
                            </li>
                            <li class="nav-item position-relative">
                                <a href="" class="nav-link">Contact.</a>
                            </li>
                        </ul>
                    </div>
                </div> <!-- /.container -->
            </nav> <!-- /#mega-menu-holder -->
            <div class="header-right-widget">
                <ul>
                    @*<li class="call-us">Mail Us <a href="#">connect@foxystudio.ge</a></li>*@
                    @*<li class="language-switcher">
                        <div class="dropdown">
                            <button type="button" class="dropdown-toggle" data-toggle="dropdown">
                                En
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="#">Русский</a>
                                <a class="dropdown-item" href="#">Français</a>
                                <a class="dropdown-item" href="#">Español</a>
                            </div>
                        </div>
                    </li>*@
                    <li><a href="" class="contact-us white-shdw-button">Contact Us <i class="icon flaticon-next"></i></a></li>
                    <li class="call-us"> <a href="mailto://connect@foxystudio.ge">connect@foxystudio.ge</a></li>
                </ul>
            </div> <!-- /.header-right-widget -->
        </div> <!-- /.theme-main-menu -->
        <!--
    =============================================
        Theme Main Banner One
    ==============================================
    -->
        <div id="theme-banner-one">
            <div class="illustration wow zoomIn animated" data-wow-delay="1s" data-wow-duration="2s">
                <img src="~/Content/images/shape/banner-shape1.svg" alt="">
                <img src="~/Content/images/shape/banner-shape2.svg" alt="" class="shape-one wow fadeInDown animated" data-wow-delay="1.8s">
                <img src="~/Content/images/shape/banner-shape3.svg" alt="" class="shape-two wow fadeInUp animated" data-wow-delay="2.7s">
            </div>
            <img src="~/Content/images/shape/oval-1.svg" alt="" class="oval-one">
            <img src="~/Content/images/shape/shape-1.svg" alt="" class="shape-three">
            <img src="~/Content/images/shape/shape-55.svg" alt="" class="shape-four">
            <img src="~/Content/images/shape/shape-56.svg" alt="" class="shape-five">
            <img src="~/Content/images/shape/shape-57.svg" alt="" class="shape-six">
            <img src="~/Content/images/shape/shape-58.svg" alt="" class="shape-seven">
            <img src="~/Content/images/shape/shape-59.svg" alt="" class="shape-eight">
            <img src="~/Content/images/shape/shape-60.svg" alt="" class="shape-nine">
            <img src="~/Content/images/shape/shape-61.svg" alt="" class="shape-ten">
            <img src="~/Content/images/shape/shape-62.svg" alt="" class="shape-eleven">
            <div class="container">
                <div class="main-wrapper">
                    <h1 class="main-title wow fadeInUp animated" data-wow-delay="0.4s">Foxy Studio.</h1>
                    <p class="sub-title wow fadeInUp animated" data-wow-delay="0.9s">Software development agency with excellence services.</p>
                    <ul class="button-group lightgallery">
                        <li><a href="" class="more-button solid-button-one wow fadeInLeft animated" data-wow-delay="1.5s">More About us <i class="fa fa-angle-right icon-right" aria-hidden="true"></i></a></li>
                    </ul>
                </div> <!-- /.main-wrapper -->
            </div> <!-- /.container -->
        </div> <!-- /#theme-banner-one -->
        <!--
    =============================================
        What WE Do
    ==============================================
    -->
        <div class="agn-what-we-do pt-150 pb-200">
            <img src="~/Content/images/shape/shape-63.svg" alt="" class="shape-one" data-aos="fade-right">
            <img src="~/Content/images/shape/shape-56.svg" alt="" class="shape-two">
            <div class="container">
                <div class="theme-title-one text-center">
                    <div class="upper-title">What We Do</div>
                    <h2 class="main-title">Planning, Designing and Developing Web, Mobile and Desktop Applications.</h2>
                </div> <!-- /.theme-title-one -->

                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="single-block">
                            <div class="icon">
                                <img src="~/Content/images/shape/shape-2.svg" alt="" class="bg">
                                <img src="~/Content/images/icon/icon1.svg" alt="" class="shape" data-aos="zoom-in-down">
                            </div>
                            <h5 class="title">Strategy & Research.</h5>
                            <p>We analyze our projects and think of a startegy with customers how a product will be built while delivering project documentation till the Design & Development stage.</p>

                        </div> <!-- /.single-block -->
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="single-block">
                            <div class="icon">
                                <img src="~/Content/images/shape/shape-2.svg" alt="" class="bg">
                                <img src="~/Content/images/icon/icon2.svg" alt="" class="shape" data-aos="zoom-in-down">
                            </div>
                            <h5 class="title">Design & Development.</h5>
                            <p>We provide highest quality front and back-end development with exceptional graphic design which perfectly fits in any humanly possible deadline.</p>

                        </div> <!-- /.single-block -->
                    </div>

                    <div class="col-lg-4 co-12 d-md-none d-lg-block">
                        <div class="single-block">
                            <div class="icon">
                                <img src="~/Content/images/shape/shape-2.svg" alt="" class="bg">
                                <img src="~/Content/images/icon/icon3.svg" alt="" class="shape" data-aos="zoom-in-down">
                            </div>
                            <h5 class="title">Managment & Support.</h5>
                            <p>We help our customers to manage their products and provide the best support possible.</p>
    
                        </div> <!-- /.single-block -->
                    </div>
                </div>
            </div> <!-- /.container -->
        </div> <!-- /.agn-what-we-do -->
        <!--
        =====================================================
            Our Team
        =====================================================
        -->
        <div class="team-standard our-team pb-100">
            <div class="container">
                <div class="theme-title-one text-center pb-100">
                    <div class="upper-title">Team</div>
                    <h2 class="main-title">Our Team Members</h2>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="single-team-member">
                            <div class="wrapper">
                                <div class="img-box"><img src="~/Content/images/team/ns.jpg" alt=""></div>
                                <div class="info-meta">
                                    <h6 class="name">Nikoloz Surmanidze</h6>
                                    <span>Co-Founder & Project Manager</span>
                                </div>
                            </div>
                            <div class="hover-content">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                </ul>
                            </div> <!-- /.hover-content -->
                        </div> <!-- /.single-team-member -->
                    </div> <!-- /.col- -->
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="single-team-member">
                            <div class="wrapper">
                                <div class="img-box"><img src="~/Content/images/team/np.jpg" alt=""></div>
                                <div class="info-meta">
                                    <h6 class="name">Nikoloz Petriashvili</h6>
                                    <span>Co-Founder & Senior Developer</span>
                                </div>
                            </div>
                            <div class="hover-content">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                </ul>
                            </div> <!-- /.hover-content -->
                        </div> <!-- /.single-team-member -->
                    </div> <!-- /.col- -->
                
                    @*<div class="col-lg-4 col-md-6 col-12">
                        <div class="single-team-member">
                            <div class="wrapper">
                                <div class="img-box"><img src="~/Content/images/team/ip.jpg" alt=""></div>
                                <div class="info-meta">
                                    <h6 class="name">Irina Pogosova</h6>
                                    <span>Project Manager</span>
                                </div>
                            </div>
                            <div class="hover-content">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                </ul>
                            </div> <!-- /.hover-content -->
                        </div> <!-- /.single-team-member -->
                    </div> <!-- /.col- -->*@


                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="single-team-member">
                            <div class="wrapper">
                                <div class="img-box"><img src="~/Content/images/team/gb.jpg" alt=""></div>
                                <div class="info-meta">
                                    <h6 class="name">Guja Bogveradze</h6>
                                    <span>Senior Developer</span>
                                </div>
                            </div>
                            <div class="hover-content">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                </ul>
                            </div> <!-- /.hover-content -->
                        </div> <!-- /.single-team-member -->
                    </div> <!-- /.col- -->
                    @*<div class="col-lg-4 col-md-6 col-12">
                        <div class="single-team-member">
                            <div class="wrapper">
                                <div class="img-box"><img src="~/Content/images/team/em.jpg" alt=""></div>
                                <div class="info-meta">
                                    <h6 class="name">Elene Miliukovi</h6>
                                    <span>Graphic & Web Designer</span>
                                </div>
                            </div>
                            <div class="hover-content">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                </ul>
                            </div> <!-- /.hover-content -->
                        </div> <!-- /.single-team-member -->
                    </div> <!-- /.col- -->*@
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="single-team-member">
                            <div class="wrapper">
                                <div class="img-box"><img src="~/Content/images/team/dk.jpg" alt=""></div>
                                <div class="info-meta">
                                    <h6 class="name">Davit Kheoshvili</h6>
                                    <span>Developer</span>
                                </div>
                            </div>
                            <div class="hover-content">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                </ul>
                            </div> <!-- /.hover-content -->
                        </div> <!-- /.single-team-member -->
                    </div> <!-- /.col- -->

                </div> <!-- /.row -->
            </div> <!-- /.container -->
        </div> <!-- /.team-standard -->
      
        <!--
    =============================================
        Our Gallery
    ==============================================
    -->
        <div class="agn-our-gallery">
            <img src="~/Content/images/shape/shape-62.svg" alt="" class="shape-one">
            <img src="~/Content/images/shape/shape-55.svg" alt="" class="shape-two">
            <img src="~/Content/images/shape/shape-61.svg" alt="" class="shape-three">
            <div class="container">
                <div class="theme-title-one">
                    <h2 class="main-title">Check some of our <br>Recent work.</h2>
                    <p class="bottom-title">Click the below button to check all of our work.</p>
                </div> <!-- /.theme-title-one -->
            </div> <!-- /.container -->
            <div class="main-wrapper">
                <a href="" class="view-gallery">View Gallery</a>
                <div class="gallery-slider lightgallery">
                    <div class="item">
                        <div class="img-box">
                            <img src="~/Content/images/portfolio/betsmart.ge.jpg" alt="">
                            <div class="hover-content">
                                <a href="~/Content/images/portfolio/betsmart.ge.jpg" class="icon zoom fancybox" data-fancybox="images" data-caption='<a href="https://betsmart.ge">https://betsmart.ge</a> - მოიგე ყოველთვის მეტი'>+</a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="img-box">
                            <img src="~/Content/images/portfolio/moravi.ge.jpg" alt="">
                            <div class="hover-content">
                                <a href="~/Content/images/portfolio/moravi.ge.jpg" class="icon zoom fancybox" data-fancybox="images" data-caption='<a href="http://moravi.ge">http://moravi.ge</a> - მუდმივმოქმედი არბიტრაჟი "მორავი"'>+</a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="img-box">
                            <img src="~/Content/images/portfolio/veranovahotel.com.jpg" alt="">
                            <div class="hover-content">
                                <a href="~/Content/images/portfolio/veranovahotel.com.jpg" class="icon zoom fancybox" data-fancybox="images" data-caption='<a href="http://veranovahotel.com/en">http://veranovahotel.com/en</a> - Spend your dream holiday with us'>+</a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="img-box">
                            <img src="~/Content/images/portfolio/travellinegeorgia.com.jpg" alt="">
                            <div class="hover-content">
                                <a href="~/Content/images/portfolio/travellinegeorgia.com.jpg" class="icon zoom fancybox" data-fancybox="images" data-caption='<a href="http://travellinegeorgia.com">http://travellinegeorgia.com</a> - იპოვეთ თქვენთვის საუკეთესო ტური'>+</a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="img-box">
                            <img src="~/Content/images/portfolio/bogveradze.com.jpg" alt="">
                            <div class="hover-content">
                                <a href="~/Content/images/portfolio/bogveradze.com.jpg" class="icon zoom fancybox" data-fancybox="images" data-caption='<a href="http://bogveradze.com">http://bogveradze.com</a> - DO IT'>+</a>
                            </div>
                        </div>
                    </div>
                </div> <!-- /.gallery-slider -->
            </div> <!-- /.main-wrapper -->
        </div> <!-- /.agn-our-gallery -->

        <!--
    =============================================
        Contact Banner
    ==============================================
    -->
        <div class="agn-contact-banner">
            <div class="container">
                <h2 class="title">Do you have any projects? <br>Contact us.</h2>
                <a href="" class="contact-button line-button-one">Contact Us</a>
            </div> <!-- /.contianer -->
        </div> <!-- /.agn-contact-banner -->
        <!--
    =====================================================
        Footer
    =====================================================
    -->
        <footer class="theme-footer-one">
            <div class="shape-one" data-aos="zoom-in-right"></div>
            <img src="~/Content/images/shape/shape-67.svg" alt="" class="shape-two">
            <div class="top-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-sm-6 col-12 about-widget" data-aos="fade-up">
                            <a href="" class="logo"><img src="~/Content/images/logo/logo2.svg" alt=""></a>
                            <a href="mailto://connect@foxystudio.ge" class="email">connect@foxystudio.ge</a>
                            <a href="#" class="phone">555 47 46 45</a>

                        </div> <!-- /.about-widget -->
                        <div class="col-lg-3 col-lg-3 col-sm-6 col-12 footer-list" data-aos="fade-up">
                            <h5 class="title">Services</h5>
                            <ul>
                                <li><a href="#">Web Design</a></li>
                                <li><a href="#">Development</a></li>
                                <li><a href="#">Wordpress</a></li>
                            </ul>
                        </div> <!-- /.footer-recent-post -->
                        <div class="col-lg-3 col-sm-6 col-12 footer-list" data-aos="fade-up">
                            <h5 class="title">About us</h5>
                            <ul>
                                <li><a href="">About us</a></li>
                                <li><a href="">Work Portfolio</a></li>
                                <li><a href="">Team</a></li>
                            </ul>
                        </div> <!-- /.footer-list -->
                        <div class="col-lg-3 col-lg-2 col-sm-6 col-12 footer-information" data-aos="fade-up">
                            <h5 class="title">Our Address</h5>
                            <p>Beliashvili 6a <br>Tbilisi, Georgia</p>
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div> <!-- /.row -->
                </div> <!-- /.container -->
            </div> <!-- /.top-footer -->

            <div class="container">
                <div class="bottom-footer">
                    <div class="clearfix">
                        <p>&copy; 2019 copyright all right reserved</p>
                        <ul>
                            @*<li><a href="#">Privace & Policy.</a></li>
                            <li><a href="">Faq.</a></li>
                            <li><a href="#">Terms.</a></li>*@
                        </ul>
                    </div>
                </div> <!-- /.bottom-footer -->
            </div>
        </footer> <!-- /.theme-footer-one -->
        <!-- Scroll Top Button -->
        <button class="scroll-top tran3s">
            <i class="fa fa-angle-up" aria-hidden="true"></i>
        </button>



        @Scripts.Render("~/j")
    </div> <!-- /.main-page-wrapper -->
</body>
</html>
